<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>

    <th:block th:replace="~{fragments/resources :: headTags}"></th:block>
</head>
<body>

    <th:block th:replace="~{fragments/fragments :: navigazione}"></th:block>
    

    <main>
        <div class="container" th:object="${category}">
            <h1>Single Category details</h1>

            <section class="row mb-3">

                <div class="col-12">
                    <h1 th:text="|Nome: *{name}|"></h1>
                    <h2 th:text="|Description: *{description}|"></h2>
                    <h3 th:text="|Books in this category : *{books.size()}|"></h3>
                    
                </div>
            </section>

            
      
         
        </div>       

    </main>

    <footer>

    </footer>

    <th:block th:replace="~{fragments/resources :: scripts}"></th:block>
</body>
</html>