<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <th:block th:replace="~{fragments/fragments :: stylesCSS}"></th:block>
</head>
<body>

    <th:block th:replace="~{fragments/fragments :: navigazione}"></th:block>
    

    <main>
        <div class="container">

            <h1 class="py-4">Home Page Libreria</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit dolor, explicabo aspernatur voluptatibus, veniam voluptatem earum quo non maxime ipsa eius at, assumenda libero officia. Facere facilis ut repellendus tempore!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem minima at totam itaque reprehenderit delectus voluptate nostrum. Nesciunt libero pariatur blanditiis eveniet, harum ducimus minima autem fugiat ipsa, illo labore.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit totam quas natus cum placeat illum, debitis, blanditiis obcaecati possimus rerum illo enim. Sunt omnis saepe adipisci atque labore quia corporis!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia dignissimos quas voluptatibus ex reprehenderit similique expedita molestiae temporibus! Consequatur quo quia sed inventore. Fugit eius quod similique nostrum, debitis natus!
            </p>

        </div>
        

    </main>

    <footer>

    </footer>

    <th:block th:replace="~{fragments/fragments :: basicScripts}"></th:block>
</body>
</html>